<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Foodlg Signup</title>
  <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
<!-- partial:index.partial.html -->
 <form class="sign-up" action="" method="post">
   <a href="/"><h1 class="sign-up-title">Sign up for Foodlg</h1></a>
    <input type="text" class="sign-up-input" placeholder="What's your username?" name="username" value="{{request.form.username }}" autofocus>
    <input type="submit" value="Submit" class="sign-up-button">

   &nbsp;<br>
   {% if error %}
    <p class="error">{{ error }}
        {% endif %}
   
  </form>
<!-- partial -->
  
</body>
</html>